# Logfiles
src/logfile.txt

# Config file
src/configFile.txt

# Intermediate files from help system
userHelp/.escapecodecache
userHelp/_build

# Test files from export
exportTestFiles/

# Intermediate files from installer
installer/build/
installer/dist-W64/lepg

# all Python chache files
/__pycache__
*.pyc

# stuff from the development environment
.pydevproject
